
.dropdown-menu {
    margin-right: 50%;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 97, 226);
    color: rgb(0, 0, 0);
    text-align: center;
  }