.background {
    height: 950px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./backgroundimg.jpg");
    background-size: cover;
    background-position: center;
}

.dropdown-menu {
    text-align: center;
    left: -75px;
}

.container{
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    top: 25%;
    bottom: 33%;
    height: 60%;
    width: 75%;
    margin-left: 12%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 97, 226);
    color: rgb(0, 0, 0);
    text-align: center;
  }