.background {
    height: 1250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./backgroundimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: inherit;
}

.dropdown-menu {
    text-align: center;
    left: -75px;
}
.container-index{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-gap: 40px;
    background-color: #ffffff;
    padding: 10px;
    top: 25%;
    bottom: 33%;
    height: 80%;
    width: 75%;
    margin-left: 12%;
}
.container.fluid{
    padding-top: 25%;

}

.col-auto,
.col-xl-
.row-auto,
.row {
background-color: lightblue;

}

.aboutme {
    position: left;
    float: left;
    padding: 0 10px 0 0;
}

.carousel-inner img {
    margin: auto;
    height: 50%;
    width: 50%;
   }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 97, 226);
    color: rgb(0, 0, 0);
    text-align: center;
  }